.result {
    padding: 5px;
    width: 100%;
    border-bottom: 0.8px solid rgba(0, 0, 0, 0.6);
    list-style-type: none;
    text-align: left;
    background-color: rgba(238, 238, 238, 0.5);
    cursor: pointer;
}

.result:hover {
    background-color: rgba(221, 221, 221, 0.8);
}

.result span {
    font-size: 15px;
}
