.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search label {
    text-align: left;
}

.search input {
    flex: 1;
    font: inherit;
    padding: 0.35rem;
    margin: 0.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.search input:focus {
    outline: none;
    border-color: #230052;
}
